/* accueil.component.scss */
.hero-section {
    background-image: url('/assets/img/IMG_8027.png.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 36px;
  background-repeat: no-repeat;
  }
  /* accueil.component.css */
#head 

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.text-overlay h2 {
  font-size: 48px;
  font-weight: bold;
}
