<h1 mat-dialog-title class="dialog-title">{{ data.nom }}</h1>
<div mat-dialog-content class="dialog-content">
  <div class="content-section">
    <p><strong>Objectifs:</strong> {{ data.objectifs }}</p>
    <p><strong>Contexte:</strong> {{ data.contexte }}</p>
    <p><strong>Enjeux:</strong> {{ data.enjeux }}</p>
    <p><strong>Risques:</strong> {{ data.risques }}</p>
    <p><strong>Étapes:</strong> {{ data.etapes }}</p>
    <p><strong>Acteurs:</strong> {{ data.acteurs }}</p>
    <p><strong>Résultats:</strong> {{ data.resultats }}</p>
    <p><strong>Lendemains:</strong> {{ data.lendemains }}</p>
    <p><strong>Regard Critique:</strong> {{ data.regardCritique }}</p>
    <p><strong>Compétences:</strong> {{ data.competences.join(', ') }}</p>
  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="closeDialog()">Fermer</button>
</div>
