::ng-deep mat-dialog-container {
    .mat-mdc-dialog-inner-container {
      .mat-mdc-dialog-surface {
        .mat-mdc-dialog-component-host {
          h1[mat-dialog-title] {
            font-size: 24px; /* Taille réduite pour le titre */
            font-weight: 500; /* Moins gras */
            color: #2c3e50; /* Couleur foncée pour un meilleur contraste */
            margin-bottom: 20px; /* Espacement sous le titre */
            text-align: center; /* Centrer le titre */
          }
  
          mat-dialog-content {
            padding: 20px;
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9; /* Fond légèrement gris clair pour une meilleure lisibilité */
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 0 auto;
  
            .content-section {
              p {
                font-size: 16px; /* Taille de texte confortable */
                line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
                color: #333;
                margin-bottom: 15px; /* Espacement entre les paragraphes */
  
                strong {
                  color: #007bff; /* Couleur bleue pour les labels */
                  font-weight: 600; /* Gras pour les labels */
                }
              }
  
              /* Ajout d'un style pour les titres de sous-sections */
              h2, h3, h4 {
                font-weight: 600;
                margin-top: 20px;
                color: #333;
                text-align: left;
              }
              
              h2 {
                font-size: 22px; /* Taille du titre principal */
                margin-bottom: 10px;
              }
              
              h3 {
                font-size: 18px; /* Taille des sous-titres */
                margin-bottom: 8px;
              }
  
              h4 {
                font-size: 16px; /* Taille des sous-titres plus petits */
                margin-bottom: 6px;
              }
            }
          }
  
          mat-dialog-actions {
            padding: 16px;
            text-align: right;
            background-color: #ffffff; /* Fond blanc pour la section des actions */
            border-top: 1px solid #ddd; /* Ligne de séparation */
  
            button {
              background-color: #007bff;
              color: #fff;
              border-radius: 5px;
              padding: 10px 20px;
              font-size: 16px;
              cursor: pointer;
              border: none;
              transition: background-color 0.3s, transform 0.2s;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour le bouton */
  
              &:hover {
                background-color: #0056b3;
                transform: scale(1.05); /* Effet de survol */
              }
            }
          }
        }
      }
    }
  }
  