<mat-dialog-content *ngIf="competence">
  <div class="content-section">
    <h2 *ngIf="competence.nom">{{ competence.nom }}</h2>

    <ul *ngIf="competence.utilisation || competence.contexte_professionnel">
      <li *ngIf="competence.utilisation">
        <span class="font-weight-bold">Utilisation:</span> {{ competence.utilisation }}
      </li>
      <li *ngIf="competence.contexte_professionnel">
        <span class="font-weight-bold">Contexte Professionnel:</span> {{ competence.contexte_professionnel }}
      </li>
    </ul>

    <h3 *ngIf="anecdotes.length > 0">Anecdotes</h3>
    <div *ngIf="anecdotes.length > 0; else noAnecdotes" class="anecdote-list">
      <div *ngFor="let anecdote of anecdotes" class="anecdote-item">
        <h5 *ngIf="anecdote.titre">{{ anecdote.titre }}</h5>
        <p *ngIf="anecdote.description"><strong>Description:</strong> {{ anecdote.description }}</p>
        <p *ngIf="anecdote.resultat"><strong>Résultat:</strong> {{ anecdote.resultat }}</p>
        <a *ngIf="anecdote.lien_realisations" [href]="anecdote.lien_realisations" target="_blank">Voir la réalisation</a>
      </div>
    </div>
    <ng-template #noAnecdotes>
      <p>Aucune anecdote disponible</p>
    </ng-template>

    <div class="additional-info">
      <h3>Informations Supplémentaires</h3>
      <ul>
        <li *ngIf="competence.marge_progression">
          <span class="font-weight-bold">Marge de Progression:</span> {{ competence.marge_progression }}
        </li>
        <li *ngIf="competence.importance_profil">
          <span class="font-weight-bold">Importance pour le Profil:</span> {{ competence.importance_profil }}
        </li>
        <li *ngIf="competence.vitesse_acquisition">
          <span class="font-weight-bold">Vitesse d'Acquisition:</span> {{ competence.vitesse_acquisition }}
        </li>
        <li *ngIf="competence.conseils_experience">
          <span class="font-weight-bold">Conseils d'Expérience:</span> {{ competence.conseils_experience }}
        </li>
        <li *ngIf="competence.objectif_moyen_terme">
          <span class="font-weight-bold">Objectif à Moyen Terme:</span> {{ competence.objectif_moyen_terme }}
        </li>
        <li *ngIf="competence.formations_en_cours">
          <span class="font-weight-bold">Formations en Cours:</span> {{ competence.formations_en_cours }}
        </li>
      </ul>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fermer</button>
</mat-dialog-actions>
