<div id="skills" class="skills-container">
  <!-- Hard Skills Section -->
  <div id="hardSkills" class="skills-category">
    <h2>Hard Skills</h2>
    <div class="skills-grid">
      <div class="skill" *ngFor="let competence of hardSkills">
        <img [src]="'assets/img/' + competence.nom.toLowerCase().replace(' ', '') + '.png'" alt="{{ competence.nom }}" class="skill-icon">
        <h3>{{ competence.nom }}</h3>
        <ul>
          <li><span class="font-weight-bold">Niveau:</span> {{ competence.niveau }}</li>
          <li><span class="font-weight-bold">Description:</span> {{ competence.description }}</li>
          <li><span class="font-weight-bold">Utilisation:</span> {{ competence.utilisation }}</li>
          <li><span class="font-weight-bold">Contexte Professionnel:</span> {{ competence.contexte_professionnel }}</li>
        </ul>
        <button mat-raised-button color="primary" (click)="openDetailsDialog(competence)">
          Voir les détails
        </button>
      </div>
    </div>
  </div>

  <!-- Soft Skills Section -->
  <div id="softSkills" class="skills-category">
    <h2>Soft Skills</h2>
    <div class="skills-grid">
      <div class="skill" *ngFor="let competence of softSkills">
        <img [src]="'assets/img/' + competence.nom.toLowerCase().replace(' ', '') + '.png'" alt="{{ competence.nom }}" class="skill-icon">
        <h3>{{ competence.nom }}</h3>
        <ul>
          <li><span class="font-weight-bold">Niveau:</span> {{ competence.niveau }}</li>
          <li><span class="font-weight-bold">Description:</span> {{ competence.description }}</li>
          <li><span class="font-weight-bold">Utilisation:</span> {{ competence.utilisation }}</li>
          <li><span class="font-weight-bold">Contexte Professionnel:</span> {{ competence.contexte_professionnel }}</li>
        </ul>
        <button mat-raised-button color="primary" (click)="openDetailsDialog(competence)">
          Voir les détails
        </button>
      </div>
    </div>
  </div>
</div>
