<!-- Début du header principal -->
<header id="head">
    <!-- Section héroïne qui contient l'arrière-plan principal de la page -->
    <div class="hero-section">
      <!-- Superposition de texte qui se positionne par-dessus l'arrière-plan -->
      <div class="text-overlay">
        <!-- Contenu du texte qui sera affiché sur la superposition -->
        <div class="text-content">
          <!-- Titre principal de la section héroïne -->
          <h2 class="main-title">Steve DUCHATEAU</h2>
          <!-- Sous-titre décrivant le rôle ou le titre professionnel -->
          <h2 class="subtitle">Ingénieur Méthodes</h2>
        </div>
      </div>
    </div>
  </header>
  
