<mat-dialog-content>
  <div class="content-section">
    <h2>{{ data.nom }}</h2>
    <h3>Détails de la Compétence</h3>
    <ul>
      <li><span class="font-weight-bold">Niveau:</span> {{ data.niveau }}</li>
      <li><span class="font-weight-bold">Description:</span> {{ data.description }}</li>
      <li><span class="font-weight-bold">Utilisation:</span> {{ data.utilisation }}</li>
      <li><span class="font-weight-bold">Contexte Professionnel:</span> {{ data.contexte_professionnel }}</li>
      <li><span class="font-weight-bold">Niveau de Maîtrise:</span> {{ data.niveau_maitrise }}</li>
    </ul>
  </div>

  <div class="anecdote-list">
    <h3>Anecdotes</h3>
    <div *ngFor="let anecdote of data.anecdotes" class="anecdote-item">
      <h5>{{ anecdote.titre }}</h5>
      <p><strong>Description:</strong> {{ anecdote.description }}</p>
      <p><strong>Résultat:</strong> {{ anecdote.resultat }}</p>
      <a [href]="anecdote.lien_realisations" target="_blank">Voir la réalisation</a>
    </div>
  </div>

  <div class="additional-info">
    <h3>Informations Supplémentaires</h3>
    <ul>
      <li><span class="font-weight-bold">Marge de Progression:</span> {{ data.marge_progression }}</li>
      <li><span class="font-weight-bold">Importance pour le Profil:</span> {{ data.importance_profil }}</li>
      <li><span class="font-weight-bold">Vitesse d'Acquisition:</span> {{ data.vitesse_acquisition }}</li>
      <li><span class="font-weight-bold">Conseils d'Expérience:</span> {{ data.conseils_experience }}</li>
      <li><span class="font-weight-bold">Objectif à Moyen Terme:</span> {{ data.objectif_moyen_terme }}</li>
      <li><span class="font-weight-bold">Formations en Cours:</span> {{ data.formations_en_cours }}</li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fermer</button>
</mat-dialog-actions>
