::ng-deep mat-dialog-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px; /* Ajustez cette largeur selon vos besoins */
  width: 100%;
  margin: 0 auto;

  .content-section {
    margin-bottom: 20px;

    h2 {
      font-size: 20px; /* Taille de titre réduite */
      margin-bottom: 15px;
      color: #333;
      font-weight: 600;
    }

    h3 {
      font-size: 18px; /* Taille de titre réduite */
      margin-bottom: 15px;
      color: #333;
      font-weight: 600;
    }

    h4 {
      font-size: 16px;
      margin-bottom: 15px;
      color: #333;
      font-weight: 600;
    }

    ul {
      list-style-type: disc;
      margin: 0;
      padding-left: 20px;

      li {
        font-size: 14px;
        margin-bottom: 10px;

        span.font-weight-bold {
          font-weight: bold; /* Critères en gras */
        }
      }
    }
  }

  .anecdote-list {
    margin: 0;
    padding: 0;

    .anecdote-item {
      margin-bottom: 20px;
      padding: 15px;
      border-bottom: 1px solid #ddd;

      h5 {
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 5px 0;
      }

      p {
        font-size: 13px;
        margin: 0 0 10px 0;

        strong {
          font-weight: bold;
        }
      }

      a {
        color: #007bff;
        text-decoration: none;
        font-size: 13px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .additional-info {
    h3 {
      font-size: 18px; /* Taille de titre réduite */
      margin-bottom: 15px;
      color: #333;
      font-weight: 600;
    }

    ul {
      list-style-type: disc;
      margin: 0;
      padding-left: 20px;

      li {
        font-size: 14px;
        margin-bottom: 10px;

        span.font-weight-bold {
          font-weight: bold; /* Critères en gras */
        }
      }
    }
  }
}

mat-dialog-actions {
  padding: 16px;
  text-align: right;

  button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
