<!-- Affichage des détails d'un projet lorsque la variable 'projet' est définie -->
<div *ngIf="projet" class="project-details">
  <!-- Titre du projet -->
  <h1 class="project-title">{{ projet.nom }}</h1>

  <!-- Section contenant les détails du projet -->
  <div class="project-description">
    <p *ngIf="projet.contexte"><strong>Contexte:</strong> {{ projet.contexte }}</p>
    <p *ngIf="projet.description"><strong>Description:</strong> {{ projet.description }}</p>
    <p *ngIf="projet.objectifs"><strong>Objectifs:</strong> {{ projet.objectifs }}</p>
    <p *ngIf="projet.enjeux"><strong>Enjeux:</strong> {{ projet.enjeux }}</p>
    <p *ngIf="projet.risques"><strong>Risques:</strong> {{ projet.risques }}</p>
    <p *ngIf="projet.etapes"><strong>Étapes:</strong> {{ projet.etapes }}</p>
    <p *ngIf="projet.acteurs"><strong>Acteurs:</strong> {{ projet.acteurs }}</p>
    <p *ngIf="projet.resultats"><strong>Résultats:</strong> {{ projet.resultats }}</p>
    <p *ngIf="projet.lendemains"><strong>Lendemains:</strong> {{ projet.lendemains }}</p>
    <p *ngIf="projet.regardCritique"><strong>Regard Critique:</strong> {{ projet.regardCritique }}</p>

    <!-- Affichage des compétences -->
    <p *ngIf="projet.competences">
      <strong>Compétences:</strong>
      <span *ngIf="isCompetencesArray">
        <span *ngFor="let competence of projet.competences; let i = index">
          <a [routerLink]="getCompetenceLink(competence)" class="competence-link">
            {{ competence }}
          </a>
          <span *ngIf="i < projet.competences.length - 1">, </span>
        </span>
      </span>
      <span *ngIf="isCompetencesString">
        <span *ngFor="let competence of splitCompetences(projet.competences); let i = index">
          <a [routerLink]="getCompetenceLink(competence)" class="competence-link">
            {{ competence }}
          </a>
          <span *ngIf="i < splitCompetences(projet.competences).length - 1">, </span>
        </span>
      </span>
    </p>
  </div>

  <!-- Bouton pour revenir à la vue précédente -->
  <button class="back-button" (click)="goBack()">Retour</button>
</div>
