<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h3 class="footer-title">Me Contacter</h3>
                <address>
                    <p>2 rue de Viernheim, Franconville, France</p>
                    <p>Téléphone: 0767775457</p>
                    <p>Email: </p>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
</footer>
