<!-- Conteneur principal pour les compétences -->
<div id="skills" class="skills-container">

  <!-- Section pour les compétences techniques (Hard Skills) -->
  <div id="hardSkills" class="skills-category">
    <h2>Hard Skills</h2>
    <div class="skills-grid">
      <div class="skill" *ngFor="let competence of hardSkills">
        <!-- Image de l'icône de compétence -->
        <img [src]="'assets/img/' + competence.nom.toLowerCase().replace(' ', '') + '.png'" 
             alt="{{ competence.nom }}" class="skill-icon">
        <h3>{{ competence.nom }}</h3>
        <ul>
          <li><span class="font-weight-bold">Niveau:</span> {{ competence.niveau }}</li>
        </ul>
        <!-- Bouton pour voir les détails de la compétence -->
        <button 
          mat-raised-button 
          color="primary" 
          [routerLink]="['/competences', 'techniques', competence.id]">
          Voir les détails
        </button>
      </div>
    </div>
  </div>

  <!-- Section pour les compétences interpersonnelles (Soft Skills) -->
  <div id="softSkills" class="skills-category">
    <h2>Soft Skills</h2>
    <div class="skills-grid">
      <div class="skill" *ngFor="let competence of softSkills">
        <h3>{{ competence.nom }}</h3>
        <ul>
          <li><span class="font-weight-bold">Niveau:</span> {{ competence.niveau }}</li>
        </ul>
        <!-- Bouton pour voir les détails de la compétence -->
        <button 
          mat-raised-button 
          color="primary" 
          [routerLink]="['/competences', 'humaines', competence.id]">
          Voir les détails
        </button>
      </div>
    </div>
  </div>

</div>
