<section id="experience">
  <div class="container">
    <!-- Navigation entre les sections -->
    <div class="nav-buttons">
      <!-- Boutons pour naviguer entre les sections "Expérience Professionnelle" et "Parcours Scolaire" -->
      <button class="nav-btn active" data-target="professional">Expérience Professionnelle</button>
      <button class="nav-btn" data-target="education">Parcours Scolaire</button>
    </div>
    
    <!-- Section pour les expériences professionnelles -->
    <div class="timeline" id="professional">
      <!-- Ligne verticale de la frise -->
      <div class="line"></div>
      
      <!-- Conteneur pour chaque événement de l'expérience professionnelle -->
      <div class="item left">
        <div class="content">
          <!-- Date de l'événement -->
          <div class="date">2021-2024</div>
          <!-- Titre et sous-titre de l'expérience -->
          <h2>
            <img src="assets/img/lhh.png" alt="LHH Logo"> <!-- Logo de l'entreprise -->
            LHH
          </h2>
          <span>Société de Conseil</span>
          <p><strong>Poste :</strong> Assistant projets</p>
          <p><strong>Rôle :</strong> Data analyst</p>
          <!-- Bouton pour afficher ou masquer les détails -->
          <button class="toggle-details">+ Plus de détails</button>
          <!-- Détails de l'expérience, cachés par défaut -->
          <div class="details" style="display: none;">
            <p><strong>Missions :</strong></p>
            <ul>
              <li>Analyse approfondie des données pour identifier les opportunités d'amélioration, facilitant ainsi la prise de décision éclairée.</li>
              <li>Création et amélioration des outils de pilotage :
                <ul>
                  <li>Développement et déploiement de tableaux de bord interactifs et de rapports dynamiques pour surveiller les performances, en utilisant Power BI, Streamlit, et Excel.</li>
                  <li>Création de visualisations interactives et dynamiques pour offrir une perspective holistique sur la situation financière.</li>
                </ul>
              </li>
              <li>Gestion des opérations :
                <ul>
                  <li>Suivi méticuleux de la facturation en utilisant des formules avancées d'Excel.</li>
                  <li>Utilisation de tableaux croisés dynamiques pour synthétiser rapidement les informations et générer des rapports.</li>
                  <li>Coordination de la migration des données vers les outils BI en utilisant le processus ETL (Extract-Transform-Load) pour assurer la qualité des données.</li>
                </ul>
              </li>
              <li>Communication et coordination :
                <ul>
                  <li>Collaboration étroite avec les équipes pour intégrer de nouvelles fonctionnalités dans les outils de reporting.</li>
                  <li>Formation des collaborateurs à l'utilisation des tableaux de bord et des rapports.</li>
                </ul>
              </li>
              <li>Automatisation des processus :
                <ul>
                  <li>Création de 2 robots d'automatisation pour réduire les tâches manuelles répétitives.</li>
                  <li>Utilisation de Python et des bibliothèques spécialisées comme BeautifulSoup et Selenium pour automatiser les tâches chronophages.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Autre événement de l'expérience professionnelle -->
      <div class="item right">
        <div class="content">
          <!-- Date de l'événement -->
          <div class="date">Juillet à Août 2019</div>
          <!-- Titre et sous-titre de l'expérience -->
          <h2>
            <img src="assets/img/apajh.jpeg" alt="APAJH Logo"> <!-- Logo de l'organisation -->
            APAJ
          </h2>
          <span>Association pour Adultes et Jeunes Handicapés</span>
          <p><strong>Poste :</strong> Directeur Adjoint</p>
          <!-- Bouton pour afficher ou masquer les détails -->
          <button class="toggle-details">+ Plus de détails</button>
          <!-- Détails de l'expérience, cachés par défaut -->
          <div class="details" style="display: none;">
            <p><strong>Missions :</strong></p>
            <ul>
              <li>Gestion des dossiers administratifs.</li>
              <li>Gestion financière (remboursement, suivi des dépenses, gestion de la trésorerie)</li>
              <li>Gestion des équipes</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Section pour le parcours scolaire -->
    <div class="timeline" id="education" style="display: none;">
      <!-- Ligne verticale de la frise -->
      <div class="line"></div>
      
      <!-- Conteneur pour chaque événement du parcours scolaire -->
      <div class="item left">
        <div class="content">
          <!-- Date de l'événement -->
          <div class="date">2017-2019</div>
          <!-- Titre et sous-titre de l'expérience -->
          <h2>
            <img src="assets/img/bury.jpeg" alt="Bury SUP Logo"> <!-- Logo de l'école -->
            Bury SUP
          </h2>
          <span>BTS Commerce International</span>
          <p>Obtention du diplôme BTS Commerce</p>
          <!-- Bouton pour afficher ou masquer les détails -->
          <button class="toggle-details">+ Plus de détails</button>
          <!-- Détails de la formation, cachés par défaut -->
          <div class="details" style="display: none;">
            <p><strong>Matières :</strong></p>
            <ul>
              <li>Management</li>
              <li>Économie</li>
              <li>Droit</li>
              <li>Négociation</li>
              <li>Import/Export</li>
            </ul>
          </div>
        </div>
      </div>
  
      <!-- Autre événement du parcours scolaire -->
      <div class="item right">
        <div class="content">
          <!-- Date de l'événement -->
          <div class="date">2021-2022</div>
          <!-- Titre et sous-titre de l'expérience -->
          <h2>
            <img src="assets/img/ifcp.png" alt="IFCP Logo"> <!-- Logo de l'institution -->
            IFCP
          </h2>
          <span>Licence Gestion des Organisations</span>
          <p>Obtention du diplôme licence gestion des organisations de septembre 2021 à juillet 2022 – Margency (95)</p>
          <!-- Bouton pour afficher ou masquer les détails -->
          <button class="toggle-details">+ Plus de détails</button>
          <!-- Détails de la formation, cachés par défaut -->
          <div class="details" style="display: none;">
            <p><strong>Matières :</strong></p>
            <ul>
              <li>Management des entreprises</li>
              <li>Management des processus</li>
              <li>Ressources Humaines</li>
              <li>Droit du travail</li>
              <li>Droit des contrats</li>
              <li>Gestion comptable et financière</li>
              <li>Veille stratégique</li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Autre événement du parcours scolaire -->
      <div class="item left">
        <div class="content">
          <!-- Date de l'événement -->
          <div class="date">2022-2023</div>
          <!-- Titre et sous-titre de l'expérience -->
          <h2>
            <img src="assets/img/ensup.png" alt="ENSUP Logo"> <!-- Logo de l'institution -->
            ENSUP
          </h2>
          <span>Master Management et Stratégie d'Entreprise</span>
          <p>Obtention du diplôme Master Management et Stratégie d'Entreprise de septembre 2022 à juillet 2023 – Cergy (95)</p>
          <!-- Bouton pour afficher ou masquer les détails -->
          <button class="toggle-details">+ Plus de détails</button>
          <!-- Détails de la formation, cachés par défaut -->
          <div class="details" style="display: none;">
            <p><strong>Matières :</strong></p>
            <ul>
              <li>Élaboration de la stratégie commerciale et marketing</li>
              <li>Mise en œuvre de la politique commerciale</li>
              <li>Management d’une équipe et d’un réseau commercial</li>
              <li>Mesure de la performance commerciale</li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Dernier événement du parcours scolaire -->
      <div class="item right">
        <div class="content">
          <!-- Date de l'événement -->
          <div class="date">2023-2024</div>
          <!-- Titre et sous-titre de l'expérience -->
          <h2>
            <img src="assets/img/iscod.png" alt="ISCOD Logo"> <!-- Logo de l'institution -->
            ISCOD
          </h2>
          <span>Mastère 2 Expert Ingénierie Logiciel</span>
          <p>Étudiant au sein de l'ISCOD de septembre 2023 à novembre 2024 – Franconville (95)</p>
          <!-- Bouton pour afficher ou masquer les détails -->
          <button class="toggle-details">+ Plus de détails</button>
          <!-- Détails de la formation, cachés par défaut -->
          <div class="details" style="display: none;">
            <p><strong>Matières :</strong></p>
            <ul>
              <li>Gestion de la relation client en ingénierie du logiciel</li>
              <li>Pilotage de projet d'ingénierie du logiciel</li>
              <li>Intégration, industrialisation et déploiement de logiciel</li>
              <li>Conception avancée de l'architecture de logiciel</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
