<!-- Pied de page du site web -->
<footer class="footer">
    <!-- Conteneur principal pour le contenu du pied de page -->
    <div class="container">
        <!-- Première ligne : Informations de contact -->
        <div class="row">
            <!-- Colonne centrée dans une grille Bootstrap -->
            <div class="col-md-4 offset-md-4">
                <!-- Titre de la section de contact -->
                <h3 class="footer-title">Me Contacter</h3>
                <!-- Informations de contact -->
                <!-- Numéro de téléphone -->
                <p>Téléphone: 0767775457</p>
                <address>
                    <!-- Adresse physique -->
                    <p>Franconville, France</p>

                    <!-- Adresse email (non renseignée) -->
                </address>
            </div>
        </div>

        <!-- Deuxième ligne : Section vide pour d'éventuels contenus supplémentaires -->
        <div class="row">
            <!-- Colonne centrée dans une grille Bootstrap -->
            <div class="col-md-12 text-center">
                <!-- Espace pour des informations ou des liens supplémentaires -->
            </div>
        </div>
    </div>
</footer>
