<nav class="navbar">
  <ul id="mainNav">
    <div class="nav-items-container">
      <li class="nav-item"><a href="#head" class="nav-link">Accueil</a></li>
      <li class="nav-item"><a href="#aboutUs" class="nav-link">Qui suis-je ?</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Compétences</a>
        <ul class="dropdown-menu">
          <li><a href="#hardSkills" class="dropdown-item">Hard Skills</a></li>
          <li><a href="#softSkills" class="dropdown-item">Soft Skills</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio</a>
        <ul class="dropdown-menu">
          <li><a href="#projects" class="dropdown-item">Tous les Projets</a></li>
          <li><a href="#project-1" class="dropdown-item">Projet 1</a></li>
          <li><a href="#project-2" class="dropdown-item">Projet 2</a></li>
          <li><a href="#project-3" class="dropdown-item">Projet 3</a></li>
          <li><a href="#project-4" class="dropdown-item">Projet 4</a></li>
          <li><a href="#project-5" class="dropdown-item">Projet 5</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#contact" class="nav-link">Formulaire de contact</a></li>
    </div>
    <li class="nav-item name-display">Steve Duchateau</li>
  </ul>
</nav>
