.navbar {
  position: fixed; // Position fixe pour rester en haut de la page
  top: 0;
  left: 0;
  width: 100%; // Prendre toute la largeur de la fenêtre
  background-color: #343a40; // Couleur de fond de la barre de navigation
  padding: 0 15px; // Espacement horizontal
  z-index: 1000; // Assurer que la barre est au-dessus des autres éléments
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombre portée pour un effet d'élévation
}

#mainNav {
  display: flex; // Utiliser Flexbox pour l'alignement horizontal
  justify-content: space-between; // Espacer les éléments horizontalement
  align-items: center; // Aligner les éléments verticalement au centre
  list-style: none; // Supprimer les puces des listes
  padding: 0;
  margin: 0;
  height: 60px; // Hauteur fixe pour la barre de navigation
  width: 100%; // Assurer que le conteneur principal prend toute la largeur
}

.nav-items-container {
  display: flex; // Utiliser Flexbox pour l'alignement horizontal des éléments de navigation
}

.nav-item {
  position: relative; // Nécessaire pour le menu déroulant

  .nav-link {
    display: block; // Assurer que le lien prend toute la largeur de l'élément
    padding: 10px 15px; // Espacement interne
    text-decoration: none; // Supprimer le soulignement
    color: #fff; // Couleur du texte
    font-weight: 500; // Poids de la police
    border-radius: 4px; // Coins arrondis pour un effet moderne
    white-space: nowrap; // Empêcher le texte de se plier

    &:hover {
      background-color: #495057; // Couleur de fond au survol
      color: #fff; // Couleur du texte au survol
    }
  }

  .dropdown-menu {
    display: none; // Masquer le menu déroulant par défaut
    position: absolute; // Positionner le menu déroulant sous l'élément parent
    top: 100%; // Positionner juste sous l'élément parent
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff; // Couleur de fond du menu déroulant
    border: 1px solid #ddd; // Bordure du menu déroulant
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Ombre portée pour l'effet d'élévation

    .dropdown-item {
      display: block; // Assurer que les éléments prennent toute la largeur disponible
      padding: 10px 15px; // Espacement interne
      color: #333; // Couleur du texte

      &:hover {
        background-color: #f8f9fa; // Couleur de fond au survol
        color: #007bff; // Couleur du texte au survol
      }
    }
  }

  &:hover .dropdown-menu {
    display: block; // Afficher le menu déroulant au survol
  }
}

.name-display {
  margin-left: auto; // Pousser l'élément vers la droite
  padding: 10px 15px; // Espacement interne
  color: #fff; // Couleur du texte
  font-weight: bold;
  white-space: nowrap; // Empêcher le texte de se plier
}
